
body {
    font-family: 'Montserrat';
    text-align: center;
}

.container-fluid {
    padding: 3% 15% 5%;
}


/* Headings */

h1, h2, h3 {
    font-family: 'Kanit', sans-serif;
}

.big-title{
    font-size: 3.5rem;
    line-height: 1.4;
    text-align: left;
}



/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}



/* Title section */

.title div:first-child{
    margin-bottom: 10%;
}

.title-image {
    right: 20%;
    position: absolute;
    transform: rotate(20deg);
    width: 50%;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-lik {
    font-size: 1.2rem;
}



/* Download buttons */

.dowload-button {
    margin: 5% 3% 5% 0;
}


/* Features section */

#features {
    padding: 7% 15%;
    position: relative;
    margin-top: -6%;
}

.features-heading {
    font-size: 1.5rem;
    font-weight: 800;
}

#features div {
    margin: 45px auto;
} 

#features p {
    color: #8f8f8f;
    font-weight: 600;
    padding: 0 5%;
}

.feature-icon {
    color: #ef8172;
    padding: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}



/* Testimonials section  */

#testimonials {
    background-color: #ef8172;
}

.testimonial-heading {
    font-size: 2.8rem;
    line-height: 4rem;
}

.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}



/* Press section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 40px;
}



/* Pricing section  */

#pricing {
    margin: 4%;
    padding: 5%;
}

.pricing-heading, .pricing-package {
    font-size: 2.8rem;
    line-height: 4rem;
}

#pricing .card {
    margin: 5%;
}

#pricing .row {
    margin-top: 3%;
}



/* Call to Action section */

#cta {
    padding: 6%;
}

.cta-heading {
    font-size: 2.8rem;
    padding: 1% 6%;
    line-height: 1.5;
}



/* Footer section  */

#footer {
    margin: 5%;
}

#footer svg {
    margin: 1%;
}

#footer p {
    color: #8f8f8f;
    font-weight: 500;
    font-size: 14px;
}



/* MEDIA QUERIES */

@media (max-width: 990px) {
    
    .title-image {
        position: static;
        transform: rotate(0);
        margin-bottom: 9%;
    }

    .title {
        text-align: center;
    }
}